<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmployerMapper">
	
	<resultMap id="EmployerResultMap" type="EmployerDto">
		<id column="EMPL_ID" property="id"/>
		<result column="CREATED_DATE" property="createdDate" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
	</resultMap>
	
	<resultMap id="memberResultMap" type="MemberDto">
		<id column="MEMBER_ID" property="id"></id>
		<result column="CREATED_DATE" property="createdDate" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
	</resultMap>
	
	<!-- 회원가입 -->
	<insert id="join" parameterType="EmployerResultMap">
		<selectKey keyProperty="member_id" resultType="int" order="BEFORE">
			SELECT MEMBER_SEQ.nextval FROM dual
		</selectKey>
		
		<selectKey keyProperty="employer_id" resultType="int" order="BEFORE">
			SELECT EMPLOYER_SEQ.nextval FROM dual
		</selectKey>
		
		BEGIN
			INSERT INTO MEMBERS m (
				m.member_id, m.username, m.password, m.email
			) VALUES ( #{member_id}
			,	#{username}
			,	#{password}
			,	#{email}
			);
			INSERT INTO EMPLOYER e (
				e.empl_id, e.member_id, e.name
			) VALUES ( #{employer_id}, #{member_id}
			,	#{company_name}
			);
		END;
	</insert>
</mapper>