<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="EmployerMapper">

<resultMap type="Employer" id="employerResult">
	<id column="empl_id" property="id"/>
	<result column="business_number" property="businessNumber"/>
	<result column="company_name"	property="companyName"/>
	<result column="founding_date"	property="foundingDate" typeHandler="org.apache.ibatis.type.LocalDateTypeHandler"/>
	<association property="member" javaType="Member">
		<id column="mb_id" property="id"/>
		<result column="username" 	property="username"/>
		<result column="password"	property="password"/>
		<result column="email"		property="email"/>
		<result column="created_at"	property="createdAt" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
	</association>
</resultMap>

<!-- 회원 인증 (로그인) -->
<select id="signIn" parameterType="map" resultMap="employerResult">
	SELECT 
		e.empl_id  
	,	e.business_number  
	,	e.company_name  
	,	e.founding_date  
	,	m.mb_id  
	,	m.username  
	,	m.password  
	,	m.email  
	,	m.created_at  
	FROM employer e 
		INNER JOIN members m ON e.mb_id = m.mb_id 
	WHERE m.username = #{username} AND m.password = #{password}
</select>

<!-- 아이디(사용자 이름) 개수 조회 -->
<select id="countByUsername" parameterType="string" resultType="int">
	select count(*) FROM members m where m.username = #{username}
</select>

<!-- 회원 가입 -->
<insert id="signUp" parameterType="hashmap">
	<selectKey keyProperty="id" resultType="int" order="BEFORE">
		SELECT members_seq.nextval FROM dual
	</selectKey>
	BEGIN
	INSERT INTO members m (
		m.mb_id, m.username, m.password, m.email
	) VALUES (
		#{id},
		#{username}, #{password},
		#{email}
	);
	
	INSERT INTO employer e (
		e.empl_id, e.mb_id, 
		e.business_number, e.company_name, 
		e.founding_date
	) VALUES (
		employer_seq.nextval, #{id},
		#{businessRegistrationNumber}, #{companyName},
		#{foundingDate}
	);
	END;
</insert>

</mapper>