<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RecruitmentBulletinMapper">

<resultMap type="RecruitmentBulletin" id="RecruitBullResult">
	<id column="recrui_id" property="id"/>
	<id column="title" property="title"/>
	<id column="content" property="content"/>
	<id column="photo_path" property="photosPath"/>
	
	<result column="created_at"	 property="createdAt" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
	<result column="modified_at" property="modifiedAt" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
</resultMap>

<!-- 게시판 작성 -->
<insert id="insert" parameterType="RecruitmentBulletin">
	insert into RECRUITMENT_BULLETIN rb (
		rb.recrui_id
	,	rb.title
	,	rb.content
	,	rb.photo_path
	) values (
		recruitbull_seq.nextval
	,	#{title}
	,	#{content}
	,	#{photosPath}
	)
</insert>

<!-- 게시판 조회 -->
<select id="findById" parameterType="long" resultMap="RecruitBullResult">
	select 	rb.RECRUI_ID 
	,	rb.TITLE 
	,	rb.CONTENT 
	,	rb.PHOTO_PATH 
	,	rb.CREATED_AT 
	,	rb.MODIFIED_AT 
	from RECRUITMENT_BULLETIN rb 
	where rb.RECRUI_ID = #{pk}
</select>

</mapper>