<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="RecruitmentBulletinMapper">

<resultMap type="RecruitmentBulletin" id="RecruitBullResult">
	<id column="recrui_id" property="id"/>
	<id column="title" property="title"/>
	<id column="content" property="content"/>
	<id column="photo_path" property="photosPath"/>
	
	<result column="created_at"	 property="createdAt" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
	<result column="modified_at" property="modifiedAt" typeHandler="org.apache.ibatis.type.LocalDateTimeTypeHandler"/>
</resultMap>

<sql id="recruitBullColumns">
		rb.recrui_id
	,	rb.TITLE 
	,	rb.CONTENT 
	,	rb.PHOTO_PATH 
	,	rb.CREATED_AT 
	,	rb.MODIFIED_AT 
</sql>

<!-- 게시판 작성 -->
<insert id="insert" parameterType="RecruitmentBulletin">
	insert into RECRUITMENT_BULLETIN rb (
		rb.recrui_id
	,	rb.title
	,	rb.content
	,	rb.photo_path
	) values (
		recruitbull_seq.nextval
	,	#{title}
	,	#{content}
	,	#{photosPath}
	)
</insert>

<!-- 게시판 조회 -->
<select id="findById" parameterType="long" resultMap="RecruitBullResult">
	select 
		<include refid="recruitBullColumns"/>
	from RECRUITMENT_BULLETIN rb 
	where rb.RECRUI_ID = #{pk}
</select>

<!-- 총 개수 -->
<select id="count" resultType="long">
	select count(1) from RECRUITMENT_BULLETIN rb
</select>

<!-- 게시판 목록 조회 -->
<select id="findAll" parameterType="Pagination" resultMap="RecruitBullResult">
	select * from (
		select ROW_NUMBER() OVER(ORDER by rb.RECRUI_ID DESC) as row_no,
		<include refid="recruitBullColumns"/>
		from RECRUITMENT_BULLETIN rb
	) where row_no between #{fistIndexItem} and #{lastIndexItem}
	order by row_no desc
</select>

</mapper>