<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="member.Business">
    <resultMap id="bizMemberResult" type="BusinessMember">
        <result column="business_registration_number" property="bizRegistrationNo"/>
        <result column="company_name" property="companyName"/>
        <result column="ceo_name" property="ceoName"/>
        <result column="company_type" property="companyType" javaType="CompanyType" typeHandler="com.jobboard.mybatis.typehandler.CompanyTypeHandler"/>
        <association column="member_id" property="member" javaType="Member" resultMap="member.Member.memberResult"/>
    </resultMap>

    <sql id="selectBizMemberSQL">
        SELECT
            m.id,
            m.username,
            m.password,
            m.email,
            m.created_at,
            biz.business_registration_number,
            biz.company_type,
            biz.company_name,
            biz.ceo_name
        FROM
            business_member biz
            INNER JOIN member m
            ON biz.member_id = m.id
    </sql>

    <!-- 회원 가입 -->
    <insert id="signUp" parameterType="BusinessMember">
        <selectKey keyProperty="member.id" resultType="long" order="BEFORE">
            SELECT member_seq.nextval FROM dual
        </selectKey>
        BEGIN
            INSERT INTO member (
                id,
                username,
                password,
                email
            ) VALUES (
                #{member.id},
                #{member.username},
                #{member.password},
                #{member.email}
            );
            INSERT INTO business_member (
                member_id,
                business_registration_number,
                company_type,
                company_name,
                ceo_name
            ) VALUES (
                #{member.id},
                #{bizRegistrationNo},
                #{companyType, typeHandler=com.jobboard.mybatis.typehandler.CompanyTypeHandler},
                #{companyName},
                #{ceoName}
            );
        END;
    </insert>

    <!-- 로그인 -->
    <select id="signIn" parameterType="map" resultMap="bizMemberResult">
        <include refid="selectBizMemberSQL"/>
        WHERE
            m.username = #{username} AND m.password = #{password}
    </select>
</mapper>