<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	
	<typeAliases>
		<typeAlias alias="Member" type="com.jobboard.dto.member.Member"/>
		<typeAlias alias="BusinessMember" type="com.jobboard.dto.member.BusinessMember"/>
		<typeAlias alias="CompanyType" type="com.jobboard.dto.enums.CompanyType"/>
		<typeAlias alias="RecruitmentBulletin" type="com.jobboard.recruit.dto.RecruitmentBulletin"/>
		<typeAlias alias="Pagination" type="com.jobboard.dto.Pagination"/>
	</typeAliases>

	<typeHandlers>
		<typeHandler handler="com.jobboard.mybatis.typehandler.CompanyTypeHandler"/>
	</typeHandlers>
	
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@//localhost:1521/XE"/>
				<property name="username" value="jobboard"/>
				<property name="password" value="1234"/>
			</dataSource>
		</environment>
	</environments>
	
	<mappers>
		<mapper resource="com/jobboard/mybatis/BusinessMemberMapper.xml"/>
		<mapper resource="com/jobboard/mybatis/RecruitmentBulletinMapper.xml"/>
	</mappers>
</configuration>